@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<br />
<form asp-action="Delete">
    <partial name="EmployeePartialView/_DeleteDetailPartialView" />
    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" asp-route-id="@Model.Id" />
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
</form>
